*{
    box-sizing: border-box;  
}
body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: sans-serif;
    background-color: #191919;
}
.header {
    width: 100%;
    height: 78px; 
    background-color: black;
    position: relative;
}

#menu{
    margin:0px 0px 0px 30px;
    padding: 0px;
    position: absolute;
    left: 200px;
    top: 25px;
    width: 35px;
    height: 25px;;
}
#name-menu{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: white;
    width: 25px;
    position: absolute;
    left: 265px;
    top: 33px;

}

#image {
    margin: -5px 30px ;
    width: 190px;
    height: 60px; 
}
#search-box{
    position: relative;
    left: 500px;
}
.search-input{
    width: 462px;
    height: 41px;
    position: absolute;
    left: -150px;
    bottom: -7px;
    border-radius: 5px;
    padding: 3px 0px 2px 25px;
    border: none;
    box-shadow: 0px 2px 5px rgb(0,0,0,0);
}
::placeholder {
    color: rgb(180, 178, 178);
}


#search-button {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 285px;
    bottom: 1px;
}

#location{
    width: 18px;
    height: 18px;
    position: absolute;
    left: 950px;
    bottom: 30px;
}

.address {
    color: white;
    font-size: 12px;
    position: absolute;
    left: 972px;
    bottom: 31px;
}
#pencil{
    position: absolute;
    left: 1064px;
    bottom: 33px;
    width: 7px;
    height: 9px;
}
#user{
    position: absolute;
    transform: translate(1095px,-33px);
    width: 30px;
    height: 27px;
}
#cart{
    position: absolute;
    transform: translate(1155px,-29px);
    width: 20px;
    height: 23px;
}
.cart-badge{
    width: 15px;
    height: 15px;
    background-color: #00BA99;
    position: absolute;
    transform: translate(1165px,-31px);
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.slider-container{
    position: relative;
    width: 1270px;
    height: 700px;
    transform: translate(0,24px);
    box-shadow: 0 6px 15px rgb(0,0,0,0.1);
}
.slider{
    display: flex;
    overflow-x: hidden;
    transition: transform 0.4s ease-in-out;
}
.slide{
    min-width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}
.prev,.next{
    position: absolute;
    width: 40px;
    height: 50px;
    background-color: rgba(37,37,37,0.3);
    color: white;
    border: none;
    font-size: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.prev{
    top: 300px;
}
.next{
    top: 320px;
    left: 1220px;
}

.dots-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0,-100px);
}
.dot{
    height: 2px;
    width: 100px;
    margin: 0 5px;
    background-color: rgba(255,255,255,0.5);
    display: inline-block;
}
.products-container{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0px,600px);
    width: 100%;
    max-width: 1261px;
    padding: 40px;
    overflow: hidden;
    position: relative;
    
}
.products-silder{
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: hidden;

}
.products-silder::-webkit-scrollbar{
    display: none;

}
.product-card img{
    width: 100px;
    height: 114px;
}
#prev1,#next1{
    width: 40px;
    height: 40px;
    background-color: rgba(37,37,37,0.3);
    border: none;
    font-size: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

}
#prev1{
    position: absolute;
    top: 75px;
    left: 0px;
    color: rgb(148, 146, 146);
}
#next1{
    position: absolute;
    top: 70px;
    left: 1220px;
    color: white;  
    cursor: pointer;
    z-index: 1;
}
.offer-container{
    width: 100%;
    height: 153px;
    margin: 10px 0px 0px 50px;
    padding: 50px 0px 0px;
    transform: translate(0px,600px);
    position: relative;
}

h2{
    font-size: 24px;
    color: white;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 20px;

}
.offer-slider{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 1002px;
    height: 60px;
}
.offer-card img{
    width: 212px;
    height: 60px;
}
.Special-container{
    width: 1024px;
    height: 350px;
    transform: translate(0px,650px);
    padding: 0px 50px;

}
.Special-slider{
    width: 976px;
    height: 290px;
    display: grid;
    column-gap: 0px;
    row-gap: 0px;
    grid-template-columns: repeat(8,1fr);
    margin: 0px;
    padding: 0px;

}
.Special-slider img{
    width: 121.76px;
    height: auto;
    display: block;
    object-fit: cover;
}
#special{
    transform: translate(0px,-52px);
}
.extra-image{
    display: none;
}

@media only screen and (max-width: 427px) {
body {
    width: 100%;
}
.header {
    width: 100%;
    height: 110px !important; 
    position: relative;
}
#menu{
    width: 30px;
    height: 25px;
    position: absolute;
    top: 7px;
    left: -25px;
}
#image{
    margin: 0;
    width: 100px;
    height: 30px;
    position: absolute;
    left: 28px;
    bottom: 89px;
}
#search-box{
    width: 300px;
    height: 29px;
    left: 30px;
    bottom: -40px;
}
.search-input{
    font-size: 13px;
    padding: 5px 15px 5px 35px;
    width: 395px;
    height: 48px;
    left: -15px;
    top: 0px;
    border-radius: 8px;
}
::placeholder {
    color: black;
}
#search-button{
    width: 20px;
    height: 20px;
    left: -8px;
    bottom: -5px;
}
#name-menu{
    display: none;
}
#user{
    width: 28px;
    height: 28px;
    transform: translate(347px,-25px);
}
#cart{
    width: 20px;
    height: 20px;
    transform: translate(387px,-19px);
}
.cart-badge{
    width: 14px;
    height: 14px;
    font-size: 6px;
    transform: translate(394px,-24px);
}
#location{
    width: 14px;
    height: 14px;
    bottom: 5px;
    left: 14px;
}
.address{
    font-size: 8px;
    bottom: 4px;
    left: 29px;
}
#pencil{
    height: 7px;
    bottom: 5px;
    left: 93px;
}
.slider-container{
    top: 57px;
}
.slide img{
    max-width: 427px;
    width: 100%;
    height: auto;
   
}
.prev,.next{
    display: none;
}
.dots-container{
    transform: translate(0px,-445px);
    
}
.dot{
    width: 20px;
    height: 2px;
}
.products-container{
    width: 415px;
    height: 220px;
    transform: translate(20px,210px);
    padding: 15px;
    margin: 0px -15px;
}
.products-silder{
    width: 900px;
    height: 212px;
    transform: translate(0px,20px);
    display: grid;
    row-gap: 10px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}
.product-card img{
    width: 70px;
    height: 85px;
}
#prev1,#next1{
    display: none;
}
.offer-container{
    width: 375px;
    height: 109px;
    transform: translate(-40px,230px);
}
h2{
    font-size: 18px;
    padding: 0px 15px;
    color: white;
}
.offer-card{
    width: 360px;
    height: 66px;
    padding: 0px 15px;
    gap: 5px;
}
.Special-container{
    display: none;
}
.extra-image{
    width: 425px;
    height: 605px;
    transform: translate(0px,400px);
}
#special{
    font-size: 18px;
    color: white;
}





  
  
}